/* FONTS */
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Open+Sans");
}

@font-face {
  font-family: 'LeagueSpartan';
  src: url("../fonts/LeagueSpartan/LeagueSpartan-Bold.otf");
  font-style: normal;
}




.header{
  display: flex;
  flex-direction: row;
}

.navbar-left {
  float: left;
}


.navbar-right {
  float: right;
}

nav li {
  display: inline;
}

nav li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
}

ul {
  text-align: center;
  flex: row;
}

nav ul {
  text-align: center;
  font-size: 14px;
}

#intro {
  margin-top: 5%;
  margin-bottom: 5%;
}

header {
  margin-top: 5%;
  margin-bottom: 5%;
}

header h5 {
  margin-top: 5%;
  margin-bottom: 10%;
  font-family: 'LeagueSpartan';
  /* text-align: center; */
  word-spacing: 0.1em;
}



/*** Container for Flex ***/

/**.container {
  display: flex;
  flex-direction: row;
}
**/

.picture {
  flex: 1;
  text-align: center;
}

.writing {
  flex: 1;
  text-align: left;
}

h5 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 20px;
}


/*** Images CSS ***/
.smartspace {
  width: 70%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.project img {
    display: block;
    margin: auto;
}


#michael {
  display: flex;
  justify-content: center;
}
.michael {
  height:50%;
  width:50%;
}







/*** Navigation ***/



**/
